/* You can add global styles to this file, and also import other style files */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
@import '~ngx-toastr/toastr';

.mon-titre{
  color: #f64c67;
}
.headerGray{
  background-color: #f2f4fa;
}
.bs-datepicker-body table td.week span 
{
  color: #f64c67 !important; 
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover 
{
  background-color: #f64c67 !important; 
}

