<div class="row btnBlueW">
  <p class="text-center mt-2"><i class="fas fa-bug fa-10x"></i></p>
  <p class="text-center bs p-0 m-0">Ooops... Une erreur interne est servenue.</p>
  <p class="text-center bs p-0 m-0">
    Autrement dit, quelque chose s'est terriblement mal passé. Ne vous inquiétez
    pas, nous avons été signalés à ce sujet.
  </p>

  <p class="text-center bs p-0 ">
    Vous pouvez attendre quelques secondes et rafraichir la page ou retourner à
    la page d'acceuil
  </p>
  <p class="text-center">
    <button routerLink="/" class="btn btn-default btnOrange">acceuil</button>
  </p>
</div>
