<form class="p-3" [formGroup]="stockEntryForm">
    <app-text-input formControlName="refNum" [label]="'reference'"></app-text-input>
    <app-date-input formControlName="mvtDate" [label]="'date'"></app-date-input>
    <div class="form-group row" *ngIf="!storeId">
        <label for="productId"   class="col-xl-3 col-sm-4 mb-0"><span>*</span>Magasin</label>
        <select class="custom-select col-md-8" required="" formControlName="subProductId">
          <option value="">{{'actions.select'|translate}}</option>
          <option *ngFor="let store of stores" [value]="store.id">{{store.name}} ({{store.districtName}})
          </option>
        </select>
      </div>
      <div class="form-group row">
        <!-- <label for="productId"  class="col-xl-3 col-sm-4 mb-0"><span>*</span>{{'products.withSerialNumber'|translate}}</label> -->
        <label for="productId"  class="col-xl-3 col-sm-4 mb-0"><span>*</span>produits</label>
        <select class="custom-select col-md-8" required="" formControlName="subProductId">
          <option value="">{{'actions.select'|translate}}</option>
          <option *ngFor="let item of subproducts" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
     
    <div class="form-group row editor-label">
        <label class="col-xl-3 col-md-4">{{'products.observation'|translate}}</label>
        <textarea formControlName="note" rows="4" class="col-xl-8 col-md-7"></textarea>
    </div>
  
    <ng-container formArrayName="snList">
      <ng-container *ngFor="let snForm of sns.controls;let i = index">
        <div class="form-group row">
            <div class="col-xl-3 col-md-4"></div>
            <div class="col-xl-9 col-md-8">
                <div class="row">
                  <div class="form-group form-focus focused col-7" [formGroup]="snForm">
                    <input type="text" id="{{i}}" class="form-control floating form-control-sm"
                      formControlName="sn">
                    <label class="focus-label">Numéro de série <span class="text-danger">*</span></label>
                  </div>
                  <div class="form-group form-focus focused col-5">
                    <button class="btn btn-xs btn-danger m-2" title="retirer" (click)="deleteSn(i)"><i class="fa-solid fa-circle-minus"></i></button>
                    <button class="btn btn-xs btn-secondary" title="ajouter" (click)="addSn()"><i class="fa-solid fa-plus"></i></button>
                    <!-- <input type="button" class="btn btn-sm btn-danger m-2" value="retirer" (click)="deleteSn(i)">
                    <input type="button" class="btn btn-sm btn-secondary" value="ajouter" (click)="addSn()"> -->
                  </div>
                </div>
            </div>
        </div>
      </ng-container>
    </ng-container>
  
  </form>
  <div class="form-group row mb-0">
    <div class="product-buttons col-sm-8 offset-xl-3 offset-sm-4">
        <button type="button" [disabled]="!stockEntryForm.valid" class="btn btn-primary mr-1"  (click)="save()">{{'actions.save'|translate}}</button>
        <button type="button" class="btn btn-light" (click)="resetForm()">{{'actions.cancel'|translate}}</button>
    </div>
  </div>
