<div class="form-group row">
    <label for="{{label}}" class="col-xl-3 col-md-4"><span *ngIf="required">*</span>{{label|translate}}</label>
    <input
        [ngClass]="(controlDir && controlDir.control && controlDir.control.touched) ? !controlDir.control.valid ? 'is-invalid' : 'is-valid' : null"
        [type]="type" (input)="onChange($event.target.value)" (blur)="onTouched()" id="{{label}}" #input
        class="form-control col-xl-8 col-md-7">
    <!-- <div class="d-flex">
        <div class="ml-auto">
            <div class="invalid-feedback"
                *ngIf="(controlDir && controlDir.control && !controlDir.control.valid && controlDir.control.touched)">
                <span *ngIf="controlDir.control.errors?.required">ce champ est obligatoire</span>
                <span *ngIf="controlDir.control.errors?.pattern">adresse email invalide</span>
            </div>
        </div>
    </div> -->
</div>
<div class="form-group row">

</div>