<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Recap de la commande</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Client</td>
                            <td>:</td>
                            <td><b class="cut text-truncate">momo momo momo momo momo momo momo momo momo</b></td>
                        </tr>
                        <tr>
                            <td>Montant</td>
                            <td>:</td>
                            <td><b class="text-wrap">240000</b></td>
                        </tr>
                        <tr>
                            <td>Remise</td>
                            <td>:</td>
                            <td ><b class="text-wrap">10000</b></td>
                        </tr>
                    </table>
                    <table class="table">
                        <thead class="fw-bold headerGray">
                            <tr>
                            <th scope="col">Produit</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Remise</th>
                            <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>produw 12</td>
                                <td>10</td>
                                <td>0</td>
                                <td>20 000</td>
                            </tr>
                            <tr>
                                <td>produw 12</td>
                                <td>10</td>
                                <td>0</td>
                                <td>20 000</td>
                            </tr>
                            <tr>
                                <td>produw 12</td>
                                <td>10</td>
                                <td>0</td>
                                <td>20 000</td>
                            </tr>
                            <tr>
                                <td>produw 12</td>
                                <td>10</td>
                                <td>0</td>
                                <td>20 000</td>
                            </tr>
                            <tr>
                                <td>produw 12</td>
                                <td>10</td>
                                <td>0</td>
                                <td>20 000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->