<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>{{'create-customer.title'|translate}}</h5>
                </div>
                <div class="card-body ">
                    <form [formGroup]="customerForm" class="needs-validation user-add" novalidate>
                        <h4>{{'create-customer.detail'|translate}}</h4>
                         <app-text-input formControlName="firstName" [label]="'create-customer.firstName'"></app-text-input>
                         <app-text-input formControlName="lastName" [label]="'create-customer.lastName'"></app-text-input>
                         <app-text-input  formControlName="customerCode" [label]="'create-customer.customerCode'"></app-text-input>
                         <app-text-input formControlName="email" [label]="'create-customer.email'" [required]="false"></app-text-input>
                         <div class="form-group row">
                            <label for="cityId" class="col-xl-3 col-sm-4 mb-0">{{'create-customer.city'|translate}}</label>
                            <select class="form-control digits col-xl-8 col-sm-7" id="cityId" formControlName="cityId">
                                <option value="null"></option>
                                <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
                            </select>
                        </div>
                         <div class="form-group row">
                            <label for="gender" class="col-xl-3 col-sm-4 mb-0">{{'create-customer.gender'|translate}}</label>
                            <select class="form-control digits col-xl-8 col-sm-7" id="gender" formControlName="gender">
                                <option value="null"></option>
                                <option *ngFor="let item of commonService.genders" [value]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <app-text-input formControlName="phoneNumber" [label]="'create-customer.phoneNumber'"></app-text-input>
                         <app-text-input formControlName="secondPhoneNumber" [label]="'create-customer.secondPhoneNumber'" [required]="false"></app-text-input>
                         <app-text-input formControlName="cni" [label]="'create-customer.cni'" [required]="false"></app-text-input>
                         <app-text-input formControlName="passport" [label]="'create-customer.passport'" [required]="false"></app-text-input>
                         <app-text-input formControlName="iddoc" [label]="'create-customer.iddoc'" [required]="false"></app-text-input>
                        <app-date-input formControlName="dateOfBirth" [type]="'date'" [label]="'create-customer.dateOfBirth'" [required]="false"></app-date-input>
                    </form>
                    <div class="text-center">
                        <button [disabled]="!customerForm.valid" (click)="save()" type="button" class="btn btn-primary">{{'create-customer.save'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>